* {
  line-height: 1.5;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* _________________________________________________ */

header {
  color: #fff;
  background: url(./assets/img/fundo\ neon.jpg) center;
  background-size: 200%;
  animation: animate 10s ease-in-out infinite alternate;
  position: sticky;
  width: 100%;
  height: auto;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  border: solid 0.5vh rgba(200, 200, 200, 0.5);
  box-shadow: 0 10px 50px 0px rgba(0, 0, 0, 0.897);
  border-radius: 0 0 20px 20px;
  z-index: 3;
}
header > div {
  color: #fff;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  padding: 2vh;
}
/* _________________________________________________ */

main {
  /* position: relative;
    background-image: url(./assets/img/fundo.png);
    background-size: cover;
    background-repeat: no-repeat; */
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/* _________________________________________________ */
footer{
  text-align: center;
  color: #fff;
  position: static;
  bottom: 0;
  padding: 2vh;
  background: linear-gradient(to top, #000, gray);
}
/* _________________________________________________ */
.logo-img {
  padding: 1vw;
  width: 20%;
}
/* _________________________________________________ */
.hero-img {
  width: 45vh;
  top: 15px;
}
.hero-title {
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  text-align: center;
  background-color: red;
  color: #fff;
  margin: 2px;
  border-radius: 5px;
  padding: 1.5px;
}
.hero-texts {
  padding: 2vh;
}
.hero-texts > h4 {
  margin: 1vh;
}
.hero-orcament {
  padding: 2vh;
  display: flex;
  flex-direction: column;
}
/* _________________________________________________ */
.button-img {
  width: 100%;
  /* animation: orcament 1s ease-in-out infinite alternate; */
}
/* _________________________________________________ */
#home {
  margin-top: 5vh;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* _________________________________________________ */
#button-orcament {
  position: relative;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
}

#button-orcament::before{
  content: "";
  position: absolute;
  inset: 3px;
  background: linear-gradient(90deg, #fff,#fff,red,#fff, #fff, #fff);
  background-size: 300% 100%;
  z-index: -1;
  border-radius: 50px;
  animation: borda 2s linear infinite;
}
/* _________________________________________________ */
#logos div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* _________________________________________________ */
#about {
  width: 100%;
  margin-top: 5vh;
  /* background-color: red; */
  background: linear-gradient(to bottom, red,red,red,gray);
}
#about > h2 {
  border-radius: 0 0 20px 20px;
  background: linear-gradient(to bottom, #fff, gray);
  text-align: center;
}
#about div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
  border-radius: 15px;
  color: #fff;
  padding: 2vh;
}
/* _________________________________________________ */
#whats-icon {
  position: fixed;
  bottom: 3vh;
  left: 2vw;
}
#whats-icon > img {
  width: 10vh;
  border-radius: 50px;
}
/* __________________________________________________________________ */
/* _________________________________________________ */
#body-pesquisa{
  font-family: Arial;
  background: #f4f4f4;
}
/* _________________________________________________ */
#main-pesquisa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* _________________________________________________ */
#tabela-celulares {
  width: 100%;
  border-collapse: collapse;
  background: white;
}
#tabela-celulares th,td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

#tabela-celulares th {
  background: #333;
  color: white;
}
#tabela-celulares tr:nth-child(even){
  background: #f2f2f2;
}
#tabela-celulares tr{
  background: #ddd;
}
/* _________________________________________________ */

@keyframes animate {
  from {
    background-size: 200%;
  }
  to {
    background-size: 100%;
  }
}

@keyframes orcament {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes borda{
  from {
    background-position: 0% 0;
  }
  to {
    background-position: -300% 0;
  }
}

/* _________________________________________________ */

@media (max-width: 480px) {
  header {
    font-size: small;
  }

  #home {
    flex-direction: column;
  }
  #home > img {
    width: 40vw;
  }

  #logos img {
    width: 18vw;
  }
}
/* _________________________________________________ */
